<div class="header d-flex justify-content-between">
  <div class="col-xs-12">
    <button class="btn" (click)="onAddUser()">
      <nb-icon icon="plus" pack="customIcons"></nb-icon> Doctor
    </button>
  </div>
  <div class="d-flex align-items-center">
    <input
      type="text"
      id="search-input"
      [(ngModel)]="searchText"
      nbInput
      size="small"
      placeholder="Enter Name"
    />
    <button class="mx-2 btn btn-primary" (click)="onSearch()">Search</button>
  </div>
</div>
<hr />
<div class="cards">
  <app-user-card
    *ngFor="let doctorEl of doctors"
    [user]="doctorEl"
  ></app-user-card>
</div>
<div *ngIf="!doctors || doctors.length < 1">
  <h3>No Data</h3>
</div>
